li {
  list-style-type: disc;
  margin-left: 20px;
}
li li {
  list-style-type: circle;
  margin-left: 30px;
}

li li li {
  list-style-type: square;
  margin-left: 40px;
}

.outer {
  min-height: 500px;
  top: max(20px, 20%);
}

.below_content {
  margin-top: -100px;
}

h1 {
  @apply text-slate-200 text-3xl font-semibold py-2;
}

h2 {
  @apply text-5xl pb-4;
}

h3 {
  @apply text-slate-200 text-xl font-semibold py-2;
}
h4 {
  @apply text-3xl pb-4;
}
h5 {
  @apply text-2xl pb-4;
}
h6 {
  @apply text-xl pb-4;
}

p:empty {
  @apply py-2;
}

blockquote {
  @apply p-4 my-4 bg-neutral-800 bg-opacity-70  border-neutral-700;
}

a {
    @apply text-custom-400 hover:text-custom-500;
}