@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://api.fontshare.com/v2/css?f[]=satoshi@900,700,500,300,400&display=swap");

/* body {
 background-image: url("https://wallpapersmug.com/download/3840x2400/2a5029/big-leaf-plant-flora.jpg");
 background-color: #cccccc;
} */
body {
 background-image: url("https://wallpapers.com/images/hd/different-green-leaves-plant-4k-desktop-wcfnrf99bahxrcl3.jpg");
 background-color: #cccccc;
}
.bg-plant {
 background-image: url("https://wallpapers.com/images/hd/different-green-leaves-plant-4k-desktop-wcfnrf99bahxrcl3.jpg");
 background-color: #cccccc;
}


/* body {
 background-image: url("https://wallpapers.com/images/hd/sunset-background-xf58jisg0lkymhe6.jpg");
 background-color: #cccccc;
} */