
.main{
  background-color: black;
  overflow: hidden; /* Hide scrollbars */
}
.navbar{
  text-align: center;
}

.githubicon{
  margin-top: 20px;
  width: 1%;
  height: 1%;
}

.instagramicon{
  width: 1%;
  height: 1%;
}
