.navbar{
  color: white;
  margin-bottom: 0;
}

/* whole page styles */
.main{
  background-color: black;
  overflow: hidden; 
  text-align: center;
}

.canvasDiv{
  margin-top: 0;
  text-align: center;
  height: 70vh;
  width: 100vw;
  

}

.canvas:hover{
  cursor: col-resize;
}



/* styles for github button */
.githubicon{
  height: 30px;
  padding-left: 5px;
  opacity: 20%;
}

/* on hover opactiy animation */
.githubicon:hover{
  opacity: 100%;
}

/* styles for ig button */
.instagramicon{
  height: 30px;
  padding-right: 5px;
  opacity: 20%;
}

/* on hover opacity animation */
.instagramicon:hover{
  opacity: 100%;
}



/* puts two icons side by side */
.instagramlink, .githublink{
  display: inline-block;
}


/* styling for the whole bar */
.iconbardiv{
  border: 1px solid black;
  margin: 1rem;
  /* padding: 2rem 2rem; */
  text-align: center;
}


.navLogo:hover{
  cursor: pointer;
}





