.navbar {
    color: white;
    margin-bottom: 0;
}

body {
    background-color: black;
    overflow-x: hidden;
}

/* whole page styles */
.main {
    background-color: black;
    overflow: hidden;
    text-align: center;
    
}

.canvasDiv {
    margin-top: 0;
    text-align: center;
    height: 70vh;
    width: 100vw;
    margin-bottom: -50px;
}

.canvas:hover {
    cursor: col-resize;
}

/* styles for github button */
.githubicon {
    height: 30px;
    padding-left: 5px;
    opacity: 20%;
}

/* on hover opactiy animation */
.githubicon:hover {
    opacity: 100%;
}

/* styles for ig button */
.instagramicon {
    height: 30px;
    padding-right: 5px;
    opacity: 20%;
}

/* on hover opacity animation */
.instagramicon:hover {
    opacity: 100%;
}

/* puts two icons side by side */
.instagramlink,
.githublink {
    display: inline-block;
}

/* styling for the whole bar */
.iconbardiv {
    border: 1px solid black;
    margin: 1rem;
    /* padding: 2rem 2rem; */
    text-align: center;
}

.navLogo:hover {
    cursor: pointer;
}

@keyframes constructionHover {
    from {
        opacity: 20%;
    }
    to {
        opacity: 50%;
    }
}

@keyframes reverseConstructionHover {
    from {
        opacity: 50%;
    }
    to {
        opacity: 20%;
    }
}

.constructionText {
    position: absolute;
    /* top: 50%; */
    bottom: 3%;
    left: 50%;
    color: white;
    transform: translate(-50%, -50%);
    opacity: 20%;
    animation-name: reverseConstructionHover;
    animation-duration: 0.4s;
}

.constructionText:hover {
    animation-name: constructionHover;
    animation-duration: 0.4s;

    opacity: 50%;
}

.dev,
.links {
    margin-left: 19%;
    margin-right: 19%;
    margin-top: 20px;
    color: white;
}

/* DEV PAGE*/

.dev {
    text-align: left;
}

/* LINKS PAGE */

.links {
    text-align: center;
}

.linkCard {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.paginationBarParent {
    text-align: center;
    position: relative;
    /* bottom: 0; */
    margin-top: 5%;
    /* margin-bottom: 0; */
}

.photos {
    text-align: center;
}

.errorParent {
    text-align: center;
    display: table-cell;
    width: 100vw;
    height: 100vh;
    vertical-align: middle;
}

.errorMessage {
    margin-top: -50px;
    color: white;
    font-weight: lighter;
}

.errorButton{
    border: none;
    border-radius: 10px;
    width: 200px;
    height: 50px;
   
}


